@font-face {
    font-family: 'PP Playground';
    src: url('PPPlayground-Light.woff2') format('woff2'),
        url('PPPlayground-Light.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Playground';
    src: url('PPPlayground-Thin.woff2') format('woff2'),
        url('PPPlayground-Thin.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Playground';
    src: url('PPPlayground-Medium.woff2') format('woff2'),
        url('PPPlayground-Medium.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-ExtralightItalic.woff2') format('woff2'),
        url('Sentient-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-LightItalic.woff2') format('woff2'),
        url('Sentient-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Light.woff2') format('woff2'),
        url('Sentient-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Extralight.woff2') format('woff2'),
        url('Sentient-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Regular.woff2') format('woff2'),
        url('Sentient-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Bold.woff2') format('woff2'),
        url('Sentient-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Italic.woff2') format('woff2'),
        url('Sentient-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-Medium.woff2') format('woff2'),
        url('Sentient-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-BoldItalic.woff2') format('woff2'),
        url('Sentient-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sentient';
    src: url('Sentient-MediumItalic.woff2') format('woff2'),
        url('Sentient-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Watch';
    src: url('PPWatch-Medium.woff2') format('woff2'),
        url('PPWatch-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Watch';
    src: url('PPWatch-Black.woff2') format('woff2'),
        url('PPWatch-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Watch';
    src: url('PPWatch-Extralight.woff2') format('woff2'),
        url('PPWatch-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Watch';
    src: url('PPWatch-Bold.woff2') format('woff2'),
        url('PPWatch-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

